#j{
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
}

#memesDisplay{
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
}

.topDiv{
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
}